---

---

<html lang="en">
	<a href="/">رضرض</a>
    <a href="/about/">هما هنا</a>
    <a href="/blog/">هذر مذر</a>
    <head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>ربيعتي</h1>
        <h1>هما هنا</h1>
        <h2>هندري ربيعتي بس</h2>

        <p>قاعدةٍ أدحوس بهالربيعة المفروض هن هذي اول صفحة بهالربعة هنه سويته؟</p>

        <p>مع ان ما احد قاع يشوف هالربيعة غير هني بقول هني برجن عهالصفحة رجون لهني ادخبص به شوي شوي وكذا</p>
	</body>
</html>
